<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <%= @name %>
   <%= @coach %>
   <%= @point_guard %>
   <%= @shooting_guard %>
   <%= @small_forward %>
   <%= @power_forward %>
   <%= @center %>

 </body>
</html>
